POSTGRES_DB=onlyglamps
POSTGRES_USER=onlyglamps
POSTGRES_PASSWORD=changeme

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

NGINX_PORT=80

PGADMIN_EMAIL=admin@onlyglamps.ru
PGADMIN_PASSWORD=admin

TELEGRAM_BOT_TOKEN=your_bot_token_here
